body {
  margin: 0;
  font-family: sans-serif;
}
.section {
  background-color: #fab1a0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.envelope {
  position: relative;
  width: 200px;
  height: 110px;
}
.envelope__top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
}
.envelope__body {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}
.paper {
  background-color: #fff;
  width: 100px;
  height: 80px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  -webkit-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  bottom: 0;
}

.envelope__top_close {
    -webkit-transform: translateY(-110%) rotateX(180deg);
            transform: translateY(-110%) rotateX(180deg);
    z-index: 2;
}
.paper_close {
  -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
          transform: translateY(-10%);
  height: 40px;
}